    <div id="message">

<!--
      <h2><img src="favicon.png"> Welcome to NeighborBaked Global Registry</h2>
-->

      <h2><img src="favicon.png"> NeighborBaked is on tour in NYC.</h2>
      <h1>NeighborBaked, Your Neighborhood Event Registry</h1>
<!--
      <h1>NeighborBaked, Your Kitchen Registry</h1>
-->

<!--
      <p>We, Brian and Larry (co-Founders), just invited you to gift or be gifted from your neighbor's kitchen. Visit your kitchen registry to make and satisfy gifting requests. Additionally, we are a certificate authority. <b>Enjoy free SSL certs for your domains!</b> Gift food as advertising.</p>
-->



      <p>Host neighborhood <a class="normalanchor" href="https://neighborsbake.com">events</a>. Earn invoices. Get cash.</p>

<!--
      <p>Supply kitchens and events. Earn invoices. Get cash.</p>
 
      <p>Serve neighbors. Earn invoices. Get cash.</p>

      <p>Serve your neighbors to advertise local.</p>

      <p>Serve your neighbors. Change your world!</p>

      <p>Serve neighbors and co-workers to advertise.</p>

      <p>Serve neighbors and co-workers to advertise local.</p>

      <p><b>NOTE: </b>Register by 12/20/19 to be in our video game that explains everything!</p>
-->


<!--LOGIC for authentication-->

    <div *ngIf="auth.user | async as user; else showLogin">
      <h1>Hi, {{ user.displayName }}! Text us now at (347) 439-7472. Read your email.</h1>
      <a class="specialanchor" (click)="logout()">Logout</a>
    </div>
    <ng-template #showLogin>
<!--
      <p>Please login to register your email.</p>
-->
      <p>Please login to reach neighbors and sell yourself.</p>
      <a class="specialanchor" (click)="login()">Login with Google</a>
    </ng-template>


<div id="lawyer">
</div>

<!--

<div id="qrcode"></div>

      <a target="_blank" (click)="login()">Register Free!</a>
-->
    </div>

