    <div id="message">


      <img src="./assets/invpytm00a.png" width=100%> 

<!--

      <h1>NeighborBaked, Your Neighborhood Event Registry</h1>


      <p>Host neighborhood <a class="normalanchor" href="https://neighborsbake.com">events</a>. Earn invoices. Get cash.</p>

-->


<!--LOGIC for authentication-->

    <div *ngIf="auth.user | async as user; else showLogin">
      <h1>Hi, {{ user.displayName }}! Text us now at (347) 439-7472. Read your email.</h1>
      <a class="specialanchor" (click)="logout()">Logout</a>
    </div>
    <ng-template #showLogin>
      <p>Register. Get paid now, work later. Everyone qualifies.</p>
      <a class="specialanchor" (click)="login()">Register for Inverse Payroll.</a>
    </ng-template>


<!--
      <img src="./assets/vlcg9btn01.png" width=100%> 
-->
<br>

<!--
<p><b>NOTE: </b>WRITE-IN LARRY LEATHERS, for CONGRESS, NY 9th DISTRICT ON NOV 3, 2020. I SUPPORT A DISTRICTWIDE CREDIT UNION AND INVERSE PAYROLL. I am located at 2329 Nostrand Ave, Suite 100, Brooklyn, NY 11210 (347) 439-7472.</p>
-->

<p><i><b>Please Contact Organizer for "Cash Before Work":</b> Write-In Larry Leathers, for Congress 2020 (NY 9), 2329 Nostrand Ave, Suite 100, Brooklyn, NY 11210, (347) 439-7472</i></p>

<div id="lawyer">
</div>

    </div>

